html {
  margin: 0px 10px;
}
body {
  font-size: 1rem;
}
header h1 {
  font-size: 1.4rem;
}
nav li {
  width: 30px;
}
nav li:last-child {
  display: none;
}
nav img {
  height: 16px;
}
main h2 {
  font-weight: 300;
  font-size: 1.2rem;
}
main li {
  font-size: 0.8rem;
  padding: 10px;
}
main li::before {
  margin: 8px;
}
footer {
  text-align: center;
}
footer button {
  color: #2c3e50;
}
