body {
  background-attachment: scroll;
}

body > section {
  align-items: flex-start;
  padding-top: 30px;
}

body > section section {
  width: 80%;
  align-items: flex-start;
}

section h1 {
  font-size: 1.8rem;
  line-height: 110%;
}

main {
  background-color: #bf820f;
}
